/* font-family: ;
font-family: 'Roboto', sans-serif; */

/* #e3f2fd */

* {
    box-sizing: border-box;
    margin: 0;
    max-width: 100%;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 0;
}

ul li {
    padding-right: 30px;
}

footer {
    background: #98cff6;
    padding: 10px 0;
}

.navbar {
    background: #98cff6;
}

.navbar-brand {
    font-family: 'Roboto', sans-serif;
    padding-left: 20px;
    font-weight: 500;
    font-size: 20px;
}

.collapse {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: end;
    padding-right: 20px;
}

.main-information {
    text-align: center;
    background: #e3f2fd;
}

.main-information {
    font-family: 'Roboto', sans-serif;
    padding: 20px 0 0 65px;
    max-width: 100%;
}

.main-information h1 {
    font-size: 40px;
    margin-top: 100px;
    font-weight: 700;
}

.main-information h2 {
    font-size: 75px;
    margin-top: 25px;
    font-weight: 700;
}

.main-information p {
    font-size: 18px;
    margin-top: 30px;
    font-weight: 500;
}

.main-information button {
    margin-top: 45px;
    padding: 15px 18px;
    border: 1px solid #2B3036;
    cursor: pointer;
    background: #2B3036;
    border-radius: 15px;
}

button a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.main-information a {
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    color: #E3E3E3;
}

.navbar-about,
.footer-about {
    background: #adc5a6;
}

.main-information.about-section,
.portfolio.about-section-photo {
    background: #e5ede3;
}

.portfolio-wrap {
    margin: 0;
}

.portfolio {
    background: #e3f2fd;
    text-align: center;
}

.portfolio-photo {
    max-width: 100%;
    padding-top: 70px;
}

.gallery-wrap {
    background: #e3f2fd;
    padding: 100px 100px 30px 100px;
}

.gallery-wrap img {
    display: block;
    margin: 0 auto;
}

.row img {
    max-width: 400px;
    margin: 0;
}


.row-one,
.row-two,
.row-three,
.row-four,
.row-five {
    margin-bottom: 30px;
    margin-left: 0;
}

div.col-4 img {
    margin: 0;
    padding: 0;
}

.row-footer,
.row-footer-about {
    align-items: center;
}

.contact-links {
    text-align: center;
    padding-right: 125px;
    align-content: center;
}

.contact-links a {
    margin-left: 65px;
    text-decoration: none;
    cursor: pointer;
    color: #2B3036;
    font-size: 15px;
}

.footer-link a {
    color: #2B3036;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}

.footer-rights,
.footer-rights-about {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #2B3036;
    text-align: end;
}

.main-information.about-section h1 {
    margin: 0;
    line-height: 80px;
}

.main-information.about-section h2 {
    font-size: 15px;
    font-weight: 700;
    color: #DC084F;
    line-height: 30px;
    margin-top: 30px;
}

.main-information.about-section p {
    font-size: 19px;
}

.about-section-contact-links {
    margin: 40px 10px;
}

.about-section-contact-links a {
    color: #2B3036;
    padding: 10px 30px;
    font-size: 20px;
}

.nikon {
    border: 1px solid #444444;
    background: #FFFF;
    max-width: 38%;
    margin: 0 auto;
    margin-bottom: 15px;
}

.nikon-picture {
    width: 80px;
}

.nikon-name {
    font-family: 'Roboto', sans-serif;
}

button.btn-about {
    margin-bottom: 30px;
}


@media (max-width: 576px) {
    .main-information {
        padding: 10px 20px;
        text-align: center;
    }

    .main-information h1 {
        font-size: 28px;
        margin-top: 20px;
    }

    .main-information h2 {
        font-size: 47px;
    }

    .row-one,
    .row-two,
    .row-three,
    .row-four,
    .row-five {
        display: block;
        margin: 0 auto;
        padding: 0 18px;
    }

    .row-one img,
    .row-two img,
    .row-three img,
    .row-four img,
    .row-five img {
        width: 100%;
        margin-bottom: 20px;
    }

    .gallery-wrap {
        padding: 35px 10px 25px 10px;
        display: block;
        margin: 0 auto;
    }

    .contact-links {
        padding-bottom: 5px;
        padding-right: 0;
        text-align: center;
    }

    .contact-links a {
        margin-right: 14px;
        margin-left: 0;
    }

    .footer-rights,
    .footer-rights-about {
        text-align: center;
    }

    .portfolio-photo {
        width: 300px;
        padding: 0;
    }

    .about-section-photo {
        padding-bottom: 30px;
    }

    .nikon {
        max-width: 100%;
    }
}












/* @media (max-width: 576px) {
    .main-information {
        padding: 0 20px;
        text-align: center;
    }

    .main-information h1 {
        margin-top: 40px;
        font-size: 28px;
    }

    .main-information h2 {
        font-size: 47px;
    }

    .portfolio img {
        display: none;
    }

    .div.portfolio {
        display: none;
    }

    .row-one,
    .row-two,
    .row-three,
    .row-four,
    .row-five {
        display: block;
        margin: 0 auto;
        padding: 0 18px;
    }

    div.col-4 img {
        margin-bottom: 20px;
    }

    .col-4 img {
        max-width: 300px;
    }

    .gallery-wrap {
        padding: 35px 10px 25px 10px;
        display: block;
        margin: 0 auto;
    }

    .contact-links {
        padding: 0;
        text-align: center;
    }

    .contact-links a {
        margin-right: 14px;
        margin-left: 0;
    }

}


@media (min-width: 576px) and (max-width: 768px) {
    .main-information {
        padding: 0 70px;
        text-align: center;
    }

    .main-information h1 {
        margin-top: 40px;
        font-size: 30px;
    }

    .main-information h2 {
        font-size: 50px;
    }

    .portfolio img {
        display: none;
    }

    .portfolio-photo-right {
        display: block;
        background-color: #E3E3E3;
    }

    .row-one,
    .row-two,
    .row-three,
    .row-four,
    .row-five {
        display: block;
        margin: 0;
    }

    div.col-4 img {
        margin-bottom: 20px;
    }

    .col-4 img {
        max-width: 300px;
    }

    .gallery-wrap {
        padding: 35px 80px 25px 90px;
        display: block;
        margin: 0 auto;
    }

    .contact-links {
        padding: 0;
        text-align: center;
    }

    .contact-links a {
        margin-right: 14px;
        margin-left: 0;
    }
}



@media (min-width: 768px) and (max-width: 1200px) {
    .main-information {
        padding: 25px 70px;
        text-align: center;
    }

    .main-information h1 {
        font-size: 30px;
        margin: 0;
    }

    .main-information h2 {
        font-size: 50px;
    }

    .portfolio-wrap {
        display: block;
    }

    .portfolio img {
        display: none;
    }

    .portfolio-photo-right {
        display: block;
        background-color: #E3E3E3;
    }

    .row-one,
    .row-two,
    .row-three,
    .row-four,
    .row-five {

        margin: 0;
    }

    div.col-4 img {
        margin-bottom: 20px;
    }

    .col-4 img {
        max-width: 250px;
    }

    .gallery-wrap {
        padding: 35px 80px 25px 90px;
        display: block;
        margin: 0 auto;
    }

    .contact-links {
        padding: 0;
        text-align: center;
    }

    .contact-links a {
        margin-right: 14px;
        margin-left: 0;
    }

} */