/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
    box-sizing: border-box;
    margin: 0;
    max-width: 100%;
}

.navbar-brand {
    font-family: 'Roboto', sans-serif;
    padding-left: 20px;
    font-weight: 500;
    font-size: 20px;
}

.collapse {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: end;
    padding-right: 25px;
}

ul li {
    padding-right: 30px;
}

.portfolio-wrap {
    display: flex;
}

.main-information {
    text-align: center;
    background: #E3E3E3;
}

.main-information {
    font-family: 'Roboto', sans-serif;
    padding: 20px 0 0 35px;
}

.main-information h1 {
    font-size: 40px;
    margin-top: 100px;
    font-weight: 700;
}

.main-information h2 {
    font-size: 75px;
    margin-top: 25px;
    font-weight: 700;
}

.main-information p {
    font-size: 18px;
    margin-top: 30px;
    font-weight: 500;
}

.main-information button {
    margin-top: 35px;
    padding: 15px 18px;
    border: 1px solid #2B3036;
    cursor: pointer;
    background: #2B3036;
    border-radius: 15px;
}

.main-information a {
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    color: #E3E3E3;
}

.portfolio {
    background: #E3E3E3;
}

.portfolio-photo {
    display: block;
    max-width: 555px;
    margin: 0 auto;
}

.portfolio-photo-right {
    background-color: #444444;
    width: 100%;
}

.gallery-wrap {
    background: #E3E3E3;
}

.row img {
    max-width: 300px;
}

footer {
    background: #2B3036;
}