/* font-family: ;
font-family: 'Roboto', sans-serif; */

* {
    box-sizing: border-box;
    margin: 0;
    max-width: 100%;
}

.navbar-brand {
    font-family: 'Roboto', sans-serif;
    padding-left: 20px;
    font-weight: 500;
    font-size: 20px;
}

.collapse {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: end;
    padding-right: 25px;
}

ul li {
    padding-right: 30px;
}

.portfolio-wrap {
    display: flex;
}

.main-information {
    text-align: center;
    background: #E3E3E3;
}

.main-information {
    font-family: 'Roboto', sans-serif;
    padding: 20px 0 0 65px;
}

.main-information h1 {
    font-size: 40px;
    margin-top: 100px;
    font-weight: 700;
}

.main-information h2 {
    font-size: 75px;
    margin-top: 25px;
    font-weight: 700;
}

.main-information p {
    font-size: 18px;
    margin-top: 30px;
    font-weight: 500;
}

.main-information button {
    margin-top: 35px;
    padding: 15px 18px;
    border: 1px solid #2B3036;
    cursor: pointer;
    background: #2B3036;
    border-radius: 15px;
}

button a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.main-information a {
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    color: #E3E3E3;
}

.portfolio {
    background: #E3E3E3;
}

.portfolio-photo {
    display: block;
    max-width: 555px;
    margin: 0 auto;
}

.portfolio-photo-right {
    background-color: #444444;
    width: 100%;
}

.gallery-wrap {
    background: #E3E3E3;
    padding: 90px 100px 30px 100px;
}

.gallery-wrap img {
    display: block;
    margin: 0 auto;
}

.row img {
    max-width: 400px;
    margin: 0;
}

footer {
    background: #2B3036;
    padding: 10px 0;
}

.row-one,
.row-two,
.row-three,
.row-four {
    margin-bottom: 30px;
    margin-left: 0;
}

div.col-4 img {
    margin: 0;
    padding: 0;
}

.row-footer {
    align-items: center;
}

.contact-links {
    text-align: end;
    padding-right: 125px;
    align-content: center;
}

.contact-links a {
    margin-left: 65px;
    text-decoration: none;
    cursor: pointer;
    color: #FFFF;
    font-size: 15px;
}

.footer-rights {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #FFFF;
    text-align: end;
}

p {
    margin-bottom: 0;
}